
*
{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: sans-serif;
}


.wrapper
{
	display: flex;
	position: relative;
}

.wrapper .sidebar
{
	background: black;
	width: 200px;
	height: 100%;
	position: fixed;
	padding: 30px 0px;
}

.wrapper .sidebar h2
{
	color: white;
	margin-bottom: 30px;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}

.wrapper .sidebar ul li 
{
	padding: 18px;
}

.wrapper .sidebar ul li a 
{
	color: white;
	font-size: 16px;
}

.wrapper .sidebar ul li a:hover
{
	color: skyblue;
}

.wrapper .sidebar ul li:hover
{
	background: gray;

}


.header
{
	margin-left: 200px ;
	width: 100%;
}

.header .admin_header
{
	background: black;
	padding: 15px;
	width: 100%;
	height: 70px;
}

.header .admin_header a 
{
	float: right;
	background: skyblue;
	padding: 10px;
	border-radius: 15px;
}

.info
{
	margin-top: 70px;
	padding: 10px;
}


.my_form
{
	margin-left: 30%;
}

label
{	
	display: inline-block;
	width: 150px;
	font-size: 15px;

}

.div_deg
{
	padding: 15px;
}

input[type='text'],[type='number']
{
	width: 30%;
	padding: 12px;
	resize: vertical;
	box-sizing: border-box;
}

textarea
{
	width: 40%;
	height: 200px;
}


table
{
	border:2px solid black;
	margin-left: 10%;
	width: 70%;
	margin-top: 30px;
}

th 
{
	background: skyblue;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}

td 
{
	padding: 10px;
	margin: 10px;
	text-align: center;
}


.del_btn
{
	background: red;
	padding: 7px;
	border-radius: 10px;
	color: white;
}


.upd_btn
{

	background: blue;
	padding: 7px;
	border-radius: 10px;
	color: white;


}


.my_card
{
	background: black;
	width: 300px;
	color: white;
	padding: 10px;
	margin: 10px;
}

.card 
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.my_card h3
{
	padding: 10px;
}

.my_card p 
{
	color: yellow;
	padding: 10px;
}